body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map {
    height: 400px;
    width: 80%;
    margin-bottom: 20px;
}

.container {
    width: 80%;
}

form {
    margin-bottom: 20px;
}

input {
    padding: 8px;
    width: 70%;
}

button {
    padding: 8px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px;
    background-color: #f0f0f0;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove-stop {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}